<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUPRA</title>
    <link rel="shortcut icon" type="image/x-icon" href = "/Users/jeewonkim/Desktop/Kupra web/Logo.png">
    <style>
        header{
            height:200px;
               
            }  
        
        nav{
            height:50px;
            margin-top:20px;
        
        }

        #main{
                width:80%;
                height: auto;
                overflow:visible;
                position:absolute;
                top:auto;
                left:0;
                right:0;
                margin:auto;
            }

        body{
                background-image: url('/Users/jeewonkim/Desktop/6A9AE7BD-9415-41F1-BDFD-4F2CA85A3B0A-38528-000013751E296AD5.JPG');
                background-repeat:no-repeat;

                /* position:relative; */

            }

        footer{

                background-color:lightgray;
                top:auto;
            }
    </style>
</head>
<body>
    <div id = "login">
        <a href = "/Users/jeewonkim/Desktop/Kupra web/REGISTER.html"><small>SIGN IN</small></a>
        <small>/</small>
        <a href = "/Users/jeewonkim/Desktop/Kupra web/LOGIN.html"><small>LOGIN</small></a>
        <small>/</small>
        <a href = "/Users/jeewonkim/Desktop/Kupra web/BASKET.html"><small>BASKET</small></a>
    </style>


    <header>
        <div style="text-align : center;">
            <a href="/Users/jeewonkim/Desktop/Kupra web/MAIN.html"><img src="/Users/jeewonkim/Desktop/Kupra web/Logo.png" onmouseover="this.src='/Users/jeewonkim/Desktop/Kupra web/LOGO2 copy.png'" onmouseout="this.src='/Users/jeewonkim/Desktop/Kupra web/Logo.png'" alt="KUPRA" width="200" height="200"></a>
        </div>
    </header> 

    <nav style="text-align : center;">
        <a href = "/Users/jeewonkim/Desktop/Kupra web/SHOP.html"><strong>SHOP</strong></a>&nbsp;
        <a href = "/Users/jeewonkim/Desktop/Kupra web/OURSTORY.html"><strong>OUR STORY</strong></a>&nbsp;
        <a href = "/Users/jeewonkim/Desktop/Kupra web/LOOKBOOK.html"><strong>LOOKBOOK</strong></a>&nbsp;
        <a href = "/Users/jeewonkim/Desktop/Kupra web/CONTACT.html"><strong>CONTACT</strong></a>
        <a href = "https://www.instagram.com/kupra.official/" target="_blank"><strong>INSTAGRAM</strong></a>
    </nav>

    <main>   
        <div id = "main">
            <section>
                <img src="/Users/jeewonkim/Desktop/F4F51825-83B8-4ADB-8022-1FA996D46E61-38528-00001374CD72FE49.JPG" alt="KUPRA" width="50%" height="auto">
                
            </section>
            <section>
                <div style = "text-align:right;">
                    <img src="/Users/jeewonkim/Desktop/6B81ED6D-E56E-4782-8CAC-B64AEA8B29FF-38528-00001375F43F10D0.JPG" alt="KUPRA" width="50%" height="auto">
                </div>
            </section>
            <section>
                    <img src="/Users/jeewonkim/Desktop/000004090024.JPG" alt="KUPRA" width="50%" height="auto">
            </section>
        </div>
    </main>
</body>
</html>