<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js"></script>
    <title>LOGIN</title>
    <link rel="shortcut icon" type="image/x-icon" href = "/Users/jeewonkim/Desktop/Kupra web/Logo.png">
</head>
<body>
    <input type="text" placeholder = "ID"><br>
    <input type="text" placeholder = "PASSWORD"><br>
    <button>LOGIN</button>
</body>
</html>